html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 500;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0 0;
  padding: 0 0;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: #212121;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.conteiners {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .conteiners {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiners {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiners {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66;
}

.logo > span {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.button {
  display: inline-block;
  border: 0px;
  margin-top: 0px;
  padding: 10px 32px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  outline: none;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.button:hover, .button:focus {
  color: #2196f3;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.current-page {
  position: relative;
  color: #2196f3;
}

.current-page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .current-page::after {
    height: 4px;
  }
}

.site-nav {
  position: relative;
  border-bottom: 1px solid #ececec;
  /* nav contacts*/
}

.site-nav .conteiners {
  display: flex;
  align-items: center;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .site-nav .conteiners {
    height: 80px;
  }
}

.site-nav .logo {
  color: #212121;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .site-nav .logo {
    margin-right: 88px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .menu-list {
    display: flex;
  }
}

.site-nav .link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav .link:hover, .site-nav .link:focus {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav .link.current-page {
    padding-bottom: 8px;
  }
}

.site-nav .link.contact-mail {
  padding-top: 0px;
}

.site-nav .link.contact-phone {
  padding-top: 0px;
}

.site-nav .contacts {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .site-nav .contacts {
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .contacts {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .menu-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .item-contact:not(:last-child):not(:last-child) {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav .item-contact:not(:last-child):not(:last-child) {
    margin-bottom: 10px;
  }
}

.site-nav .item-contact-svg {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.site-nav .contact-mail {
  color: #757575;
}

.site-nav .contact-phone {
  color: #757575;
}

.menu-button {
  display: inline-block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-svg {
  display: none;
}

.menu-button.is-open .menu-svg {
  display: block;
}

.menu-button.is-open .close-menu-svg {
  display: none;
}

.menu-container.is-open {
  display: block;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .menu-list-item > .link {
    padding-top: 32px;
    padding-bottom: 32px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .menu-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .item-contact {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .item-contact:not(:last-child) {
    margin-right: 30px;
  }
  .item-contact > .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/phone/hero.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/phone/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/tablet/hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/tablet/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/desctop/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/desctop/hero@2x.jpg);
  }
}

.hero .title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero .title {
    font-size: 44px;
    line-height: 1.39;
  }
}

.features {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .features .list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features .feature-item {
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .features .feature-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features .feature-item {
    width: 354px;
  }
  .features .feature-item:nth-child(odd) {
    margin-right: 30px;
  }
  .features .feature-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features .feature-item {
    width: 270px;
  }
  .features .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

.features .attention::before {
  display: block;
  content: "";
  background-image: url(../img/antenna_1.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features .punctuality::before {
  display: block;
  content: "";
  background-image: url(../img/clock_1.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features .planning::before {
  display: block;
  content: "";
  background-image: url(../img/diagram_1.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features .technologies::before {
  display: block;
  content: "";
  background-image: url(../img/astronaut_1.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features .img-conteiner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}

.features .sub-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features .sub-title {
    text-align: start;
  }
}

.features .post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work .list {
  display: flex;
}

.work .item {
  max-width: 370px;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

.work .sub-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-img {
  position: relative;
  width: 370px;
  height: 294px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team .title {
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team .title {
    margin-bottom: 50px;
  }
}

.team .list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team .list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team .mamber {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  max-width: 450px;
}

.team .mamber img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team .mamber:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .mamber {
    width: 354px;
  }
  .team .mamber:nth-child(odd) {
    margin-right: 30px;
  }
  .team .mamber:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .mamber {
    width: 270px;
  }
  .team .mamber:not(:last-child) {
    margin-right: 30px;
  }
  .team .mamber:not(:last-child) .mamber-img {
    width: 270px;
    height: 260px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team .name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .position {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team .socialnetwork-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 206px;
}

@media screen and (min-width: 768px) {
  .team .social-icon:not(:last-child) {
    margin-right: 10px;
  }
}

.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-item-description {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.social-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  color: #757575;
}

.social-icon-item:hover, .social-icon-item:focus {
  background-color: #2196f3;
  color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-item-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    margin-bottom: 94px;
  }
}

.client .title {
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
}

.client .list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .client .client-logo {
    width: calc((100% - 30px * 1) / 2);
  }
  .client .client-logo:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .client .client-logo:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client .client-logo {
    width: calc((100% - 30px * 2) / 3);
  }
  .client .client-logo:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .client .client-logo:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client .client-logo {
    width: calc((100% - 30px * 5) / 6);
  }
  .client .client-logo:not(:last-child) {
    margin-right: 30px;
  }
}

.client a {
  border: 1px solid grey;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  height: 90px;
  color: #757575;
}

.client a:hover, .client a:focus {
  color: #2196f3;
  border-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-svg {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer .conteiners {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .conteiners {
    display: flex;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer-join {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer .input-conteiner {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .input-conteiner {
    width: 300px;
    display: block;
  }
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer .contact {
  display: block;
  margin-bottom: 9px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer .contact:last-child {
  margin-bottom: 0px;
}

.footer .adress {
  color: #ffffff;
}

.footer .connect {
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
}

.footer .socialnetwork-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .footer .socialnetwork-list {
    margin: auto;
  }
}

.footer .social-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer .social-icon-item:hover, .footer .social-icon-item:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer .social-icon:not(:last-child) {
    margin-right: 10px;
  }
}

.footer .social-links:hover,
.footer .social-links:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .input-conteiner-join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input-conteiner-join {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .input-conteiner-join {
    display: block;
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .input-container-subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
  }
}

.subscribe-input {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  margin-right: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
  }
}

.subscribe-input::placeholder {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: inline-flex;
}

.subscribe-btn:hover {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscribe-btn {
    width: 200px;
    height: 50px;
  }
}

.subscribe-btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  /* pointer-events: none; */
  visibility: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  transform: translate(-50%);
  padding: 40px;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 450px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 221px;
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-title {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  position: relative;
}

.modal-form-input-label {
  position: absolute;
  left: 0;
  transform: translateY(-20px);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-svg {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  margin-bottom: 28px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input:focus {
  border: 1px solid #2196f3;
}

.modal-form-input:focus ~ .modal-form-input-svg {
  fill: #2196f3;
}

.modal-form-text {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-text::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-agreement {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-agreement:checked + .modal-form-check-agreement::before {
  background-color: #2196f3;
  border: none;
}

.modal-form-agreement:focus + .modal-form-check-agreement::before {
  border: 2px solid #2196f3;
}

.modal-form-check-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-form-check-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-check-agreement::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: 2px solid #212121;
}

.modal-form-check-agreement a {
  color: #2196f3;
}

.modal-send-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
}

@media screen and (min-width: 1200px) {
  .modal-send-btn {
    margin-top: 40px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-btn:hover {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.close-btn-svg {
  width: 18px;
  height: 18px;
}

.filters-projects {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .filters-projects {
    padding-top: 94px;
    margin-bottom: 94px;
  }
}

.filters {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    padding-bottom: 50px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .list {
    justify-content: center;
  }
}

.item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .item:nth-child(1) {
    margin-right: 8px;
  }
  .item:nth-child(2) {
    margin-right: 8px;
  }
  .item:nth-child(4) {
    margin-right: 8px;
  }
  .item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }
}

.item .button {
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
}

.item .button:hover, .item .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  margin: auto;
}

.projects .projects-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .projects .projects-list {
    justify-content: start;
  }
}

.projects .cards {
  width: 450px;
  min-height: 404px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.projects .cards:hover, .projects .cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .projects .cards:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects .cards {
    width: 354px;
    min-height: 404px;
  }
  .projects .cards:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects .cards {
    width: 370px;
  }
  .projects .cards:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .projects .cards:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.projects .cards:hover .project-card-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .cards:focus .project-card-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a {
  text-decoration: none;
  text-transform: none;
  display: block;
  height: 100%;
}

.projects h3 {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .sub-title {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.project-card-overlay .description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project-text {
  padding: 20px 24px;
}
/*# sourceMappingURL=main.css.map */