.hero {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	text-align: center;
	background-color: $footer-background-color;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 118px;
	padding-bottom: 118px;

	@media screen  and (max-width:767px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/phone/hero.jpg);

		@media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/phone/hero@2x.jpg);
        }
	}

	@media screen  and (min-width:768px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/tablet/hero.jpg);

		@media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/tablet/hero@2x.jpg);
        }
	}


	@media screen  and (min-width:1200px) {
		height: 600px;
		padding-top: 200px;
		padding-bottom: 200px;

		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/desctop/hero.jpg);

		@media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/adaptive/desctop/hero@2x.jpg);
        }
	}

	.title {
		max-width: 360px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 30px;
		color: $text-white-color;

		font-family: Roboto;
		font-weight: 900;
		font-size: 26px;
		line-height: 1.62;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;



		@media screen  and (min-width:1200px) {
			font-size: 44px;
			line-height: 1.36;
			max-width: 696px;
		}
	}
}
