.social-icon-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: white;
	border-radius: 50%;
	color: $clients-logo-color;

	&:hover,
	&:focus {
		background-color: $acent-text-color;
		color: $text-white-color;
		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.social-icon-item-svg {
	width: 20px;
	height: 20px;
	fill: currentColor;
}
